body {
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
  font-family: Arial;
  text-align: center;
  color: white;
}

.gifts {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.gift {
  background: white;
  color: #ff4f7b;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  transition: transform 0.3s;
}

.gift:hover {
  transform: scale(1.1);
}

#modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
}

#modal img {
  max-width: 80%;
  margin-top: 5%;
  border-radius: 20px;
}

#modal span {
  color: white;
  font-size: 30px;
  cursor: pointer;
}
